* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

body {
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 350px;
  width: 805px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.left-img {
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 35%;
  object-fit: cover;
  object-position: left;
}

.content {
  margin: 50px;
}

.title {
  color: hsl(217, 19%, 35%);
  font-size: 25px;
  font-weight: 700;
}

.text {
  margin: 15px 0 35px 0;
  color: hsl(214, 17%, 51%);
}

.bottom {
  margin: 20px 0;
  height: 50px;
}

.avatar-img {
  margin-right: 20px;
  height: 50px;
  float: left;
  border-radius: 50%;
}

.icon {
  float: right;
  padding: 8px;
  transform: scale(1.3);
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  position: relative;
  bottom: 30px;
  color: hsl(212, 23%, 69%);
  transition: all 0.5s ease;
}

.icon:hover {
  background-color: hsl(212, 23%, 69%);
  color: white;
  cursor: pointer;
  position: relative;
}

.hidden {
  padding: 5px 25px;
  width: 200px;
  height: 50px;
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  bottom: 60px;
  left: -80px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.hidden > * {
  margin: 10px;
}

.hidden img {
  width: 15px;
}

.hidden::after {
  content: "";
  border: 10px solid transparent;
  border-top-color: hsl(217, 19%, 35%);
  position: relative;
  bottom: -33px;
  left: -68%;
}

.icon:hover .hidden {
  opacity: 1;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.date {
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}

@media screen and (max-width: 950px) {
  main {
    height: 600px;
    width: 400px;
    flex-direction: column;
  }

  .left-img {
    border-radius: 15px 15px 0 0;
    height: 235px;
    width: 100%;
    object-position: center;
  }

  .content {
    margin: 50px 40px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    line-height: 25px;
    margin: 20px 0;
  }

  .bottom {
    margin: 30px 0;
  }

  .hidden {
    width: 310px;
    height: 65px;
    bottom: -30px;
    left: -250px;
    border-radius: 0 0 10px 10px;
    justify-content: left;
    opacity: 0;
  }

  .hidden::after {
    display: none;
  }
}
